<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msweb.msclubweb.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.msweb.msclubweb.domain.Department">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="briefIntroduction" column="brief_introduction" jdbcType="VARCHAR"/>
            <result property="demand" column="demand" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,briefIntroduction,demand,
        name
    </sql>
</mapper>
