<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msweb.msclubweb.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.msweb.msclubweb.domain.Department">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="flag" column="flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,qq,email,
        name,flag
    </sql>
</mapper>
